<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../style.css">
      <title>
        Edit Meme
      </title>
    </head>
    <body>
      <div id="root">
        <div>
          <section class="section has-color-violet" >
            <div class="container">
              <form action="/edit/<%=i._id%>" method="POST">
                <div class="field">
                  <label class="label has-text-weight-bold has-text-centered" style='background-color:rgb(81, 9, 109);color:white;font-size: 20;' >XMEME</label>
                  <label class="label">Caption</label>
                  <div class="control">
                    <input class="input" type="text" name="caption" placeholder="Be creative with the caption"  value="<%=i.caption%>"</input>
                  </div>
                </div>
                <label class="label">Meme URL</label>
                <div class="field-has-addons">
                  <div class="control is-expanded">
                    <input class="input is expanded" type="text" name="url" placeholder="Enter URL of your meme here"  value="<%=i.url%>"></input>
                  </div>
                <div class="control">
                  <button class="button is-link" type="submit" style='background-color:rgb(139, 16, 187)'>Submit Meme</button>
                  <button class="button is-link" type="cancel"style='background-color:rgb(139, 16, 187)'>Cancel</button>
                </div> 
                </div>
                <p class="help is-danger" style="visibility: hidden;">This URL is invalid</p>
              </form>
            </div>
          </section>

        </div>
      </div>
    </body>
  </html>